@keyframes rotate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes error {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
