.Search-panel {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;

  &__input,
  &__btn {
    border-radius: var(--border-radius);
  }

  &__input {
    padding: 4px;
    width: 80%;
    border: 2px solid var(--border-color);
  }

  &__btn {
    width: 10%;
    background-color: var(--search-background-color);
  }
}
