.Pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-around;

  &__btn {
    border: 1px solid black;
    padding: 2px 6px;
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
      transform: scale(0.9);
    }
  }

  &__active {
    background-color: black;
    color: white;
    &:hover {
      transform: scale(1.1);
    }
  }
}
